*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}
li{
    text-decoration: none;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #516ba1;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    width: 60%;
    display: flex;
    margin-right: 10px;
}
.navbar p{
    font-size: 10px;
    text-decoration: none;
}
.logo {
    margin-left: 30px;
    margin-top: 10px;
}
.logo1{
    margin-left: -40px;
    margin-top: 20px;
}
.logo2{
    margin-left: 0px;
    margin-top: 10px;
}
.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a:hover {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 15%;
    background: #3f3f3f;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 60vh !important;
    background:no-repeat center;
    background-size: cover;
}

.title {
    margin-left: 40px;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}
/*INICIO DISEÑO DE LAS CAJAS DE LOS PRODUCTOS*/
.containerall{
    width: 100%;
    height: 600px;
    background: rgb(17, 17, 17);
    position: relative;
}
.box1{
    width: 540px;
    height: 310px;
    margin: 0px;
    font-size: 20px;
}
.container1 figure{
    position:absolute;
     height: 540px;
     width: 310px;
     overflow: hidden;
     border-radius: 0px;
     box-shadow: 0px;
     margin-top: 30px;
     margin-left: 25px;
 }
 .container1 figure img{
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
 }
 .container1 figure .box1{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: #0B1C6A;
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
     text-align: center;
 }
 .container1 figure:hover > .box1 {
     opacity: 1;
     visibility: visible;
 }
 .container1 figure:hover > .box1 h3{
     margin-top: 70px;
     margin-bottom: 15px;
 }
 .container1 figure:hover > img{
     transform: scale(1.3);
 }
 .container1 figure .box1 h3{
     color: #fff;
     font-family: 'Cocogoose';
     font-weight: 20;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
     margin-top: 30px;
 }
 .container1 figure .box1 p{
     font-size: 1rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: 0;
     padding: 0 1rem;
     vertical-align: middle;
     position: absolute;
     color: #fff;
 }
 .box2{
    width: 540px;
    height: 310px;
    margin: 0px;
    font-size: 20px;
}
.container2 figure{
    position:absolute;
     height: 270px;
     width: 335px;
     overflow: hidden;
     border-radius: 0px;
     box-shadow: 0px;
     margin-top: -570px;
     margin-left: 335px;
 }
 .container2 figure img{
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
 }
 .container2 figure .box2{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: #0B1C6A;
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
     text-align: center;
 }
 .container2 figure:hover > .box2 {
     opacity: 1;
     visibility: visible;
 }
 .container2 figure:hover > .box2 h3{
     margin-top: 20px;
     margin-bottom: 15px;
 }
 .container2 figure:hover > img{
     transform: scale(1.3);
 }
 .container2 figure .box2 h3{
     color: #fff;
     font-family: 'Cocogoose';
     font-weight: 20;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
     margin-top: 30px;
 }
 .container2 figure .box2 p{
     font-size: 1rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: 0;
     padding: 0 1rem;
     vertical-align: middle;
     position: absolute;
     color: #fff;
 }
 .box3{
    width: 540px;
    height: 310px;
    margin: 0px;
    font-size: 20px;
}
.container3 figure{
    position:absolute;
     height: 270px;
     width: 335px;
     overflow: hidden;
     border-radius: 0px;
     box-shadow: 0px;
     margin-top: -300px;
     margin-left: 335px;
 }
 .container3 figure img{
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
 }
 .container3 figure .box3{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: #0B1C6A;
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
     text-align: center;
 }
 .container3 figure:hover > .box3 {
     opacity: 1;
     visibility: visible;
 }
 .container3 figure:hover > .box3 h3{
     margin-top: 20px;
     margin-bottom: 15px;
 }
 .container3 figure:hover > img{
     transform: scale(1.3);
 }
 .container3 figure .box3 h3{
     color: #fff;
     font-family: 'Cocogoose';
     font-weight: 20;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
     margin-top: 30px;
 }
 .container3 figure .box3 p{
     font-size: 1rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: 0;
     padding: 0 1rem;
     vertical-align: middle;
     position: absolute;
     color: #fff;
 }
 .box4{
    width: 540px;
    height: 310px;
    margin: 0px;
    font-size: 20px;
}
.container4 figure{
    position:absolute;
     height: 540px;
     width: 310px;
     overflow: hidden;
     border-radius: 0px;
     box-shadow: 0px;
     margin-top: -570px;
     margin-left: 670px;
 }
 .container4 figure img{
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
 }
 .container4 figure .box4{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: #0B1C6A;
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
     text-align: center;
 }
 .container4 figure:hover > .box4 {
     opacity: 1;
     visibility: visible;
 }
 .container4 figure:hover > .box4 h3{
     margin-top: 70px;
     margin-bottom: 15px;
 }
 .container4 figure:hover > img{
     transform: scale(1.3);
 }
 .container4 figure .box4 h3{
     color: #fff;
     font-family: 'Cocogoose';
     font-weight: 20;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
     margin-top: 30px;
 }
 .container4 figure .box4 p{
     font-size: 1rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: 0;
     padding: 0 1rem;
     vertical-align: middle;
     position: absolute;
     color: #fff;
 }
 .box5{
    width: 540px;
    height: 310px;
    margin: 0px;
    font-size: 20px;
}
.container5 figure{
    position:absolute;
     height: 270px;
     width: 330px;
     overflow: hidden;
     border-radius: 0px;
     box-shadow: 0px;
     margin-top: -570px;
     margin-left: 980px;
 }
 .container5 figure img{
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
 }
 .container5 figure .box5{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: #0B1C6A;
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
     text-align: center;
 }
 .container5 figure:hover > .box5 {
     opacity: 1;
     visibility: visible;
 }
 .container5 figure:hover > .box5 h3{
     margin-top: 20px;
     margin-bottom: 15px;
 }
 .container5 figure:hover > img{
     transform: scale(1.3);
 }
 .container5 figure .box5 h3{
     color: #fff;
     font-family: 'Cocogoose';
     font-weight: 20;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
     margin-top: 30px;
 }
 .container5 figure .box5 p{
     font-size: 1rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: 0;
     padding: 0 1rem;
     vertical-align: middle;
     position: absolute;
     color: #fff;
 }
 .box6{
    width: 540px;
    height: 310px;
    margin: 0px;
    font-size: 20px;
}
.container6 figure{
    position:absolute;
     height: 270px;
     width: 330px;
     overflow: hidden;
     border-radius: 0px;
     box-shadow: 0px;
     margin-top: -300px;
     margin-left: 980px;
 }
 .container6 figure img{
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
 }
 .container6 figure .box6{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: #0B1C6A;
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
     text-align: center;
 }
 .container6 figure:hover > .box6 {
     opacity: 1;
     visibility: visible;
 }
 .container6 figure:hover > .box6 h3{
     margin-top: 20px;
     margin-bottom: 15px;
 }
 .container6 figure:hover > img{
     transform: scale(1.3);
 }
 .container6 figure .box6 h3{
     color: #fff;
     font-family: 'Cocogoose';
     font-weight: 20;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
     margin-top: 30px;
 }
 .container6 figure .box6 p{
     font-size: 1rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: 0;
     padding: 0 1rem;
     vertical-align: middle;
     position: absolute;
     color: #fff;
 }
 .container1 figure button{
    font-weight: 300;
    font-size: 20px;
    font-family: 'Cocogoose';
    color: #0B1C6A  ;
    cursor: pointer;
    margin-top: 40px;
    width: 200px;
    height: 80px;
    padding-bottom:15px;    
    padding-left:40px;
    padding-right:40px;
    background-color:#f1f2f3;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
 }
 .container2 figure button{
    font-weight: 300;
    font-size: 20px;
    font-family: 'Cocogoose';
    color: #0B1C6A  ;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
    height: 80px;
    padding-bottom:15px;    
    padding-left:40px;
    padding-right:40px;
    background-color:#f1f2f3;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    text-align: center;
 }
 .container3 figure button{
    font-weight: 300;
    font-size: 20px;
    font-family: 'Cocogoose';
    color: #0B1C6A  ;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
    height: 80px;
    padding-bottom:15px;    
    padding-left:40px;
    padding-right:40px;
    background-color:#f1f2f3;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
 }
 .container4 figure button{
    font-weight: 300;
    font-size: 20px;
    font-family: 'Cocogoose';
    color: #0B1C6A  ;
    cursor: pointer;
    margin-top: 40px;
    width: 200px;
    height: 80px;
    padding-bottom:15px;    
    padding-left:40px;
    padding-right:40px;
    background-color:#f1f2f3;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
 }
 .container5 figure button{
    font-weight: 300;
    font-size: 20px;
    font-family: 'Cocogoose';
    color: #0B1C6A  ;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
    height: 80px;
    padding-bottom:15px;    
    padding-left:40px;
    padding-right:40px;
    background-color:#f1f2f3;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
 }
 .container6 figure button{
    font-weight: 300;
    font-size: 20px;
    font-family: 'Cocogoose';
    color: #0B1C6A  ;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
    height: 80px;
    padding-bottom:15px;    
    padding-left:40px;
    padding-right:40px;
    background-color:#f1f2f3;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
 }
@media screen and (max-width=1200px){
    .box{
        width:40%
    }
}
@media screen and (max-width=600px){
    .box{
        width:40%
    }
}
@media screen and (max-width=1200px){
    .containerall{
        width:100%
    }
}
@media screen and (min-width=800px){
    .containerall{
        width:100%
    }
}
/*FINAL DISEÑO DE LAS CAJAS DE LOS PRODUCTOS*/
/*diseño de las letras*/
.box-container .box1 h3 {
    font-size: 20px;
    color: #fff;
}
.box-container .box2 h3 {
    font-size: 20px;
    color: #fff;
}
.box-container .box3 h3 {
    font-size: 20px;
    color: #fff;
}
.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}
.nosotros{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items:center;
    background: #101010;
}
.about { /*edita el nosotros*/
    background: #171717;
}
h2{
    font-weight: normal;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1000px;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido{
	padding: 100px;
	text-align:center;
}
.card .contenido-card h3{
	font-weight: 1000;
    margin-bottom: 15px;
	color: #000;
    text-align: center;
}
.card .contenido-card li{
    text-decoration: none;
    font-size: 20px;
}
.card .contenido-card p{
    color: #000;
    font-size: 1rem;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
}


/*Fin-Cards*/
.slidemarcas{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items:center
}
.marcas{
    background: url(imagenes/fondo1.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 120%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure h2{
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .box figure img{
    width: 300px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 35px;
    margin-left: -220px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box h4{
    color: #efefef;
    margin-left: -5px;
    font-size: 20px;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-left: -100px;
    font-size: 20px;
    margin-bottom: 10px;
}


.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .navbar {
        display: none;
    }
   
    
}
.prov{
   
    display: flex;
    padding: 20px;
    background: #171717;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.c1{
    border: 1px solid rgb(70,69,69);
    background-color:#fff;
    color: #000;
    width: 120px;
    height: 120px;
    margin: 5px;
   
}