*{
    margin: 0;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #516ba1;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}
.navbar p{
    font-size: 10px;
    text-decoration: none;
}
.logo {
    margin-left: 30px;
    margin-top: 10px;
}
.logo1{
    margin-left: 30px;
    margin-top: 20px;
}
.logo2{
    margin-left: 30px;
    margin-top: 10px;
}
.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
h2{
    font-size: 30px;
    color: #fff;
    position: relative;
}
h3{
    font-size: 15px;
    color: #000;
    position: relative;
}