*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}
li{
    text-decoration: none;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #516ba1;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    width: 60%;
    display: flex;
    margin-right: 10px;
}
.navbar p{
    font-size: 10px;
    text-decoration: none;
}
.logo {
    margin-left: 30px;
    margin-top: 10px;
}
.logo1{
    margin-left: -40px;
    margin-top: 20px;
}
.logo2{
    margin-left: 0px;
    margin-top: 10px;
}
.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a:hover {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 15%;
    background: #3f3f3f;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 60vh !important;
    background:no-repeat center;
    background-size: cover;
}

.title {
    margin-left: 40px;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}
/*INICIO DISEÑO DE LAS CAJAS DE LOS PRODUCTOS*/
.imagenesprod{
    height: 100%;
    display: flex;
    flex-direction:row;
    align-items:center;
    background: #101010;
}
.fondo{
    margin: 0;
    background: #101010;
}
.contenedor1{
    width: 30%;
    display: flex;
    justify-content: left 20px;
    align-items: left;
    height: 20vh;
}
.contenedor1 figure{
   position:relative;
    height: 540px;
    cursor: pointer;
    width: 340px;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px;
    margin-top: -13px;
}
.contenedor1 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor1 figure .capa1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0B1C6A;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor1 figure:hover > .capa1 {
    opacity: 1;
    visibility: visible;
}
.contenedor1 figure:hover > .capa1 h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor1 figure:hover > img{
    transform: scale(1.3);
}
.contenedor1 figure .capa1 h3{
    color: #fff;
    font-family: 'Cocogoose';
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}
.contenedor1 figure .capa1 p{
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
    position: absolute;
}
.contenedor2{
    width:0%;
    display:flex;
    justify-content: right;
    height: 20vh;
    margin-top: -130px;

}
.contenedor2 figure{
   position:relative;
    height: 220px;
    cursor: pointer;
    width: 220px;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px;
}
.contenedor2 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor2 figure .capa2{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 14, 168, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor2 figure:hover > .capa2 {
    opacity: 1;
    visibility: visible;
}
.contenedor2 figure:hover > .capa2 h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor2 figure:hover > img{
    transform: scale(1.3);
}
.contenedor2 figure .capa2 h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.contenedor2 figure .capa2 p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.contenedor3{
    width: 180%;
    display:flex;
    justify-content: right;
    height: 20vh;
    margin-top: -143px
}
.contenedor3 figure{
   position:relative;
    height: 270px;
    cursor: pointer;
    width: 348px;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px;
}
.contenedor3 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor3 figure .capa3{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0B1C6A;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.contenedor3 figure:hover > .capa3 {
    opacity: 1;
    visibility: visible;
}
.contenedor3 figure:hover > .capa3 h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor3 figure:hover > img{
    transform: scale(1.3);
}
.contenedor3 figure .capa3 h3{
    color: #fff;
    font-family: 'Cocogoose';
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.contenedor3 figure .capa3 p{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
}
.contenedor4{
    width: 180.5%;
    display:flex;
    justify-content: right;
    height: 20vh;
    margin-top: 141px;
    margin-right: 30px;
}
.contenedor4 figure{
   position:relative;
    height: 270px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px;
}
.contenedor4 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor4 figure .capa4{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0B1C6A;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.contenedor4 figure:hover > .capa4 {
    opacity: 1;
    visibility: visible;
}
.contenedor4 figure:hover > .capa4 h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor4 figure:hover > img{
    transform: scale(1.3);
}
.contenedor4 figure .capa4 h3{
    color: #fff;
    font-family: 'Cocogoose';
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.contenedor4 figure .capa4 p{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
}
.contenedor5{
    width: 268.5%;
    display:flex;
    justify-content: right;
    height: 20vh;
    margin-top: -400px;
    
}
.contenedor5 figure{
   position:relative;
    height: 540px;
    cursor: pointer;
    width: 340px;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px;
}
.contenedor5 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor5 figure .capa5{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0B1C6A;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor5 figure:hover > .capa5 {
    opacity: 1;
    visibility: visible;
}
.contenedor5 figure:hover > .capa5 h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor5 figure:hover > img{
    transform: scale(1.3);
}
.contenedor5 figure .capa5 h3{
    color: #fff;
    font-family: 'Cocogoose';
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.contenedor5 figure .capa5 p{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
}
.contenedor6{
    width:352%;
    display:flex;
    justify-content: right;
    height: 20vh;
    margin-top: -130px
}
.contenedor6 figure{
   position:relative;
    height: 270px;
    cursor: pointer;
    width: 320px;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px;
}
.contenedor6 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor6 figure .capa6{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0B1C6A;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor6 figure:hover > .capa6 {
    opacity: 1;
    visibility: visible;
}
.contenedor6 figure:hover > .capa6 h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor6 figure:hover > img{
    transform: scale(1.3);
}
.contenedor6 figure .capa6 h3{
    color: #fff;
    font-family: 'Cocogoose';
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.contenedor6 figure .capa6 p{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
}
.contenedor7{
    width:352%;
    display:flex;
    justify-content: right;
    height: 20vh;
    margin-top: 140px
}
.contenedor7 figure{
   position:relative;
    height: 270px;
    cursor: pointer;
    width: 320px;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px;
}
.contenedor7 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor7 figure .capa7{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0B1C6A;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor7 figure:hover > .capa7 {
    opacity: 1;
    visibility: visible;
   
}
.contenedor7 figure:hover > .capa7 h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor7 figure:hover > img{
    transform: scale(1.3);
}
.contenedor7 figure .capa7 h3{
    color: #fff;
    font-family: 'Cocogoose';
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.contenedor7 figure .capa7 p{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
}
/*FINAL DISEÑO DE LAS CAJAS DE LOS PRODUCTOS*/
/*diseño de las letras*/
.box-container .box1 h3 {
    font-size: 20px;
    color: #fff;
}
.box-container .box2 h3 {
    font-size: 20px;
    color: #fff;
}
.box-container .box3 h3 {
    font-size: 20px;
    color: #fff;
}
.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}
.nosotros{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items:center;
    background: #101010;
}
.about { /*edita el nosotros*/
    background: #171717;
}
h2{
    font-weight: normal;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1000px;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido{
	padding: 100px;
	text-align:center;
}
.card .contenido-card h3{
	font-weight: 1000;
    margin-bottom: 15px;
	color: #000;
    text-align: center;
}
.card .contenido-card li{
    text-decoration: none;
    font-size: 20px;
}
.card .contenido-card p{
    color: #000;
    font-size: 1rem;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
}


/*Fin-Cards*/
.slidemarcas{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items:center
}
.marcas{
    background: url(imagenes/fondo1.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 120%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 300px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 35px;
    margin-left: -220px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box h4{
    color: #efefef;
    margin-left: -5px;
    font-size: 20px;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-left: -100px;
    font-size: 20px;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(0, 1, 7);
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .navbar {
        display: none;
    }
   
    
}
.prov{
   
    display: flex;
    padding: 20px;
    background: #171717;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.c1{
    border: 1px solid rgb(70,69,69);
    background-color:#fff;
    color: #000;
    width: 120px;
    height: 120px;
    margin: 5px;
   
}

