
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Empieza el menu  */
.sidebar{
    position: fixed;
    background: #516ba1;
    width: 350px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebar h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: #516ba1;
    padding: 20px;
    font-weight: bold;
}


.sidebar ul li {
    margin: 25px 0;
}

.sidebar ul li a{
    color: #ffffff;
    padding: 0 30px;

}
.sidebar ul li a:hover{
    color: #000000;
    margin-left: 20px;
    transition: 0.4s;
}

/* Termina el menu  */

/* Main Content Section Start Here  */

.main{
    margin-left: 200px;
    padding: 35px;
}

.main h2{
    margin-top: 20px;
}
.title {
    margin-left: 300px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #000;
}
.prod{
    float: right;
}
.agregar-producto {
    width: 400px;
    background: #516ba1;
    padding: 30px;
    margin: 600px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
  }
.agregar-producto h3 {
color: white;  
margin-bottom: 10px;
}
.agregar-producto button{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.controls{
    width: 100%;
    background: #f2f3f5;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .eliminar-producto{
    width: 400px;
    background: #516ba1;
    padding: 30px;
    margin: 600px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
  }
  .controls2{
    width: 100%;
    background: #f2f3f5;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .eliminar-producto button{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .eliminar-producto h3{
    color:#fff;
    margin-bottom: 20px;
  }
  .editar-producto{
    width: 400px;
    background: #516ba1;
    padding: 30px;
    margin: 600px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
  }
  .controls3{
    width: 100%;
    background: #f2f3f5;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .editar-producto button{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .editar-producto h3{
    color:#fff;
    margin-bottom: 20px;
  }
  .reactivar-producto{
    width: 400px;
    background: #516ba1;
    padding: 30px;
    margin: 600px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
  }
  .controls4{
    width: 100%;
    background: #f2f3f5;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .reactivar-producto button{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .reactivar-producto h3{
    color:#fff;
    margin-bottom: 20px;
  }
  .reactivar-producto-otros{
    width: 400px;
    background: #516ba1;
    padding: 30px;
    margin: 600px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
  }
  .controls5{
    width: 100%;
    background: #f2f3f5;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .reactivar-producto-otros button{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .reactivar-producto-otros h3{
    color:#fff;
    margin-bottom: 20px;
  }
  .eliminar{
    width: 400px;
    background: #516ba1;
    padding: 30px;
    margin: 600px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
  }
  .controls6{
    width: 100%;
    background: #f2f3f5;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .eliminar button{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
.eliminar h3{
    color:#fff;
    margin-bottom: 20px;
}