*{
    background: #fff;
}
.nombre{
    width: 400%;
    background: #f2f3f5;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}
.marca{
    width: 40%;
    background: #f2f3f5;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}
.cantidad{
    width: 40%;
    background: #f2f3f5;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}
.c1{
    width: 40%;
    height: 90px;
    background: #f2f3f5;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 10px;
    color: black;
}
