*{
    margin: 0;
}
.slider1 {
    width: 300vw;
    height: 10vw;
    margin-top: -10vw;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.slider1 .slide-track1 {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider1 .slide1 {
    width: 200px;
}

.slider1 .slide1 img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}