*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}
li{
    text-decoration: none;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #516ba1;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}
.navbar p{
    font-size: 10px;
    text-decoration: none;
}
.logo {
    margin-left: 30px;
    margin-top: 10px;
}
.logo1{
    margin-left: 30px;
    margin-top: 20px;
}
.logo2{
    margin-left: 30px;
    margin-top: 10px;
}
.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 60vh !important;
    background:no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.content {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 60px;
    background: #1f1d1d
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box1 {
    min-height: 40%;
    min-width: 28%;
    margin: 2.5%;
    border-radius: 20px;
    background: #101010;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    border-color:#516ba1
}
.box-container .box2 {
    min-height: 30%;
    min-width: 25%;
    margin: 2.5%;
    border-radius: 20px;
    background: #101010;
    border: none;
    border-color: #516ba1;
    transition: 0.5s;
    cursor: pointer;
    border-color:#516ba1
}
.box-container .box3 {
    min-height: 30%;
    min-width: 25%;
    margin: 2.5%;
    border-radius: 20px;
    background: #101010;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    border-color:#516ba1
}
.box-container .box4 {
    height: 40%;
    width: 25%;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}
.box-container .box5 {
    height: 40%;
    width: 25%;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}
.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;

}
/*sombra de las cajas*/
.box-container .box1:hover{
    cursor: pointer;
    transform: scale(1.1);
    background: #516ba1;
    color: #000;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
}
.box-container .box2:hover{
    cursor: pointer;
    transform: scale(1.1);
    background: #516ba1;
    color: #000;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
}
.box-container .box3:hover{
    cursor: pointer;
    transform: scale(1.1);
    background: #516ba1;
    color: #000;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
}
/*diseño de las letras*/
.box-container .box1 h3 {
    font-size: 20px;
    color: #fff;
}
.box-container .box2 h3 {
    font-size: 20px;
    color: #fff;
}
.box-container .box3 h3 {
    font-size: 20px;
    color: #fff;
}
.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about { /*edita el nosotros*/
    background: #171717;
}
h2{
    font-weight: normal;
    text-align: center;
}
.about .cuadro1{
    width: 80%;
    height: 60%;
}
.about .cuadro2{
    width: 80%;
    height: 60%;
}
.about .cuadro3{
    width: 80%;
    height: 60%;
}
.marcas{
    background: url(imagenes/fondo1.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 100px;
    background: #171717;
    padding-bottom: 0;
}

.li{
    text-decoration: none;
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
   
    
}
